{% extends "base.html" %}
{% load i18n static %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Blog | Ghana Data Science Summit" %}{% endif %}{% endblock %}

{% load hitcount_tags %}

{% block content %}

    <!--Banner Inner-->
    <section>
      <div class="lgx-banner lgx-banner-inner">
          <div class="lgx-page-inner">
              <div class="container">
                  <div class="row">
                      <div class="col-xs-12">
                          <div class="lgx-heading-area">
                              <div class="lgx-heading lgx-heading-white">
                                  <h2 class="heading">{{ post.title }}</h2>
                              </div>
                              <ul class="breadcrumb">
                                  <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                                  <li><a href="/blog"><i class="fa fa-edit" aria-hidden="true"></i>Blog</a></li>
                                  <li class="active">{{ post.title }}</li>

                                  
                              </ul>
                          </div>
                      </div>
                  </div><!--//.ROW-->
              </div><!-- //.CONTAINER -->
          </div><!-- //.INNER -->
      </div>
  </section> <!--//.Banner Inner-->



  <main>
    <div class="lgx-post-wrapper">
        <!--News-->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <article>
                            <header>
                                <figure>
                                    <img class="responsive-img" src="{{ post.image.url }}" alt="New"/>
                                </figure>
                                <div class="text-area">
                                    <div class="hits-area">
                                        <div class="date">
                                          <a href="#"><i class="fa fa-user"></i> {{ post.author }}</a>
                                            <a href="#"><i class="fa fa-calendar"></i> {{ post.published_date }}</a>
                                            <a href="#"><i class="fa fa-eye"></i> Hits: {% get_hit_count for post %}</a>
                                        </div>
                                    </div>
                                    <h1 class="title">{{ post.title }}</h1>
                                </div>
                            </header>
                            <section>
                                <p>
                                  {{ post.text|linebreaksbr }}
                                </p>
                            </section>
<!-- 
                            <footer>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h4 class="title">Share</h4>
                                        <div class="lgx-share">
                                            <ul class="list-inline lgx-social">
                                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </footer>
                          -->

                        </article>
                    </div>
                </div>
            </div><!-- //.CONTAINER -->
        </section>
        <!--News END-->
    </div>
</main>






{% include 'footerO.html' %}


      
{% endblock %}